.main-container {
    background: url("../img/blocks-bg.jpg") repeat-y;
    /*background-size: cover;*/
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.topsection {
    background-color: #fdc766;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    margin: 15px 0 5px 30px;
}

.content {
    padding-top: 180px;
    background-color: rgba(0, 0, 0, .6);
    max-width: 1200px;
}

.icon-bar {
    background-color: #985f0d;
}

.navbar-collapse.collapse {
    margin-top: 40px;
}

.navbar-nav>li>a, .bottomsection {
    color: #985f0d;
    font-size: 22px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-nav>li>a:hover {
    color: #ff8c00;
}

.cart-image {
    margin: 50px 60px 0 0;
}

.underlined {
    height: 7px;
    background-color: #985f0d;
}

.underlined-second {
    height: 4px;
    background-color: #fdc766;
}

.gallery-row, .gallery-text, .gallery-img {
    background-color: #fff;
    margin: 0 10px;
}

.gallery-item {
    margin-bottom: 20px;
}

.gallery-img {
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
}

.gallery-row {
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 0 0 10px 10px ;
}

.gallery-row:before {
    box-sizing: border-box;
    border: 1px solid #ec971f;
    width: 86%;
    margin: 0 0 10px 6%;
}

.gallery-text {
    font: bold 20px Arial;
    padding-top: 10px;
}

.gallery-price {
    font: normal 16px  Arial;
    float: left;
    margin-left: 20px;
}

.gallery-button {
    float: right;
    margin-right: 20px;
}

.bottomsection {
    background-color: #fdc766;
    height: 60px;
    width: 100%;
    padding: 15px;
}



@media (max-width: 768px) {
    .cart-image {
       margin-top: 0;
    }
 }

@media (max-width: 581px) {
    .gallery-item {
        width: 100%;
    }
}