.main-container {
    background: url("../img/blocks-bg.jpg") no-repeat;
    background-size: cover;
}

.topsection {
    background-color: #fdc766;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    margin: 15px 0 5px 30px;
}

.content {
    padding-top: 180px;
    background-color: rgba(0, 0, 0, .6);
}

.icon-bar {
    background-color: #985f0d;
}

.navbar-collapse.collapse {
    margin-top: 40px;
}

.navbar-nav>li>a {
    /*line-height: 92px;*/
    color: #985f0d;
    font-size: 22px;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
    color: #ff8c00;
}


.cart-image {
    margin: 40px 20px 0 0;
}

.underlined {
    height: 7px;
    background-color: #985f0d;
}

.underlined-second {
    height: 4px;
    background-color: #fdc766;
}


@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .cart-image {
       margin-top: 0;
    }
 }