.topsection {
    background-color: #fdc766;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    margin: 15px 0 0 30px;
}

.main {
    background-color: #adff2f;
}

.icon-bar {
    background-color: #985f0d;
}

.navbar-collapse.collapse {
    margin-top: 40px;
}

.navbar-nav>li>a {
    /*line-height: 92px;*/
    color: #985f0d;
    font-size: 22px;
}

.navbar-nav>li>a:hover {
    background-color: transparent;
    color: #ff8c00;
}


.cart-image {
    float: left;
}

.cart-container {
    width: 15%;
    margin-top: 40px;
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .cart-container {
        width: 25%;
        margin-top: 0;
    }
 }